.sectionBrands{
    padding: 1rem;
    height: 32vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p{
        display: flex;
        justify-content: center;
    }
}
.iconoOndulado{
    height: auto;
    width: 89px;
    margin: auto;
}
.brandsStyles{
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.imgBrands{
    height: auto;
    width: 68px;
}
.div_h2{
    display: flex;
    justify-content: center;
}
h2{
    font-size: 20px;
    min-width: 199px;
}